<% @page_title = 'Create User' %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="row">
	 <div class="col-xs-6">
  <h2><%= @property.name %></h2>
 	</div>
 	 <div class="col-xs-6">
 	 <% @property.photos.each do |photo| %>
		 <%= image_tag photo.image_url(:thumb).to_s %>
		<% end %>
	</div>
</div>
