<nav class="navbar navbar-default navbar-static">
  <div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" href="/">Property Manager</a>
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle Nav</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

   	<ul class="nav navbar-nav navbar-right collapse navbar-collapse">
      <li><%= link_to("Agents", {:controller => 'users', :action => 'index'}) %></li>
      <li><%= link_to("Properties", {:controller => 'properties', :action => 'index'}) %></li>
      <li><%= link_to("Photos", {:controller => 'photos', :action => 'index'}) %></li>
    </ul>

   </div>
</nav>